* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

body {
    background: #f0e86b; 
    color: #333;
}

.menu {
    background: #cc0000;
    padding: 15px 0;
    color: #fff;
    border-bottom: 5px solid #222;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.header-txt {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000;
    color: #ffcb05; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

nav a:hover {
    background: #ffcb05;
    color: #000;
    transform: scale(1.1);
}


main {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    
    border: 4px solid #3b5aa6; 
    box-shadow: 0 0 15px rgba(0,0,0,0.3);

    text-align: center;
}


label {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2a4aa8;
}

input {
    width: 80%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 3px solid #3b5aa6;
    font-size: 1rem;
    background: #e3ecff;
}

button {
    padding: 12px 25px;
    background: #2a75bb; 
    border: 3px solid #184e77;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 0 #103a5a;
}

button:hover {
    background: #4aa3ff;
    transform: translateY(-3px);
}


.mostra {
    margin-top: 25px;
    background: #ffcb05;
    padding: 15px;
    border-radius: 12px;
    border: 4px solid #2a4aa8;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dex {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
}

#sprite {
    width: 180px;
    height: 180px;
    margin-top: 15px;
    filter: drop-shadow(0 5px 5px #333);
}


footer {
    background: #cc0000;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-top: 5px solid #222;
    margin-top: 40px;
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    #sprite {
        width: 150px;
        height: 150px;
    }
}
